// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// -------------------global variables-----------------

//colors
$main-background: #FFFFFF;
$section-background:#F7F7F7;
$accent : #E25222;
$text-primary:#000000;
$text-secondary:#707070;
$text-placeholder:#7F7F7F;

//fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body{
    font-family:$primary-font;
    background-image:url('./assets/img/planeLogo.svg') ;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: 20%;
}

.error{
    font-size: 10px;
    color: red;
    margin: 0;
}

select{
    cursor: pointer;
}
